# 1. 조건문

#### 1. 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오. 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [20]:
year = int(input("년도를 입력하세요."))
if (year % 4 == 0 and year % 100 != 0) or year % 400 ==0:
    print(year, "년은 윤년입니다.")
else:
    print(year,"년은 윤년이 아닙니다.")

1900 년은 윤년이 아닙니다.

#### 2. 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [15]:
year = int(input("태어난 년도를 입력하세요."))
month = int(input("태어난 월을 입력하세요."))
day = int(input("태어난 일을 입력하세요."))

from datetime import date
today = date.today()

if month < today.month:
    age = today.year - year
elif month == today.month:
    if day <= today.day:
        age = today.year - year
    else:
        age = today.year - year -1
else:
    age= today.year - year -1
print(age)

23

#### 3. 세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다. (여기서 a < b < c 이고 a + b > c)
#### 예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.
####  a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

# 2. 반복문

#### 1. (별 그리기)5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오.

In [31]:
n=int(input("다이아몬드의 크기(숫자)를 입력하세요(5~9)"))
for i in range(n):
    print(" "*(n-i),'*'*(2*i-1))
for k in range(n-1,0,-1):
    print(" "*(n-k),'*'*(2*k-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

#### 2. 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?

In [60]:
s = 0
for h in range(24):
    if "3" in str(h): s += (60*60)
    else:
        for m in range(60):
            if "3" in str(m): s += 60
print(s)

29700

#### 3. 1~1000에서 각 숫자의 개수를 구하시오.

#### 4. 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다. 예를 들면, 6과 28은 완전수이다.
6=1+2+3         # 1,2,3은 각각 6의 약수

28=1+2+4+7+14   # 1,2,4,7,14는 각각 28의 약수.

입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하시오.

In [59]:
n=int(input("자연수 N을 입력하세요."))
sum=0
for i in range(1,n+1):
    sum=0
    for k in range(1,i):
        if i % k == 0:
            sum += k
    if sum == i:
        print(sum)

6
28

#### 5. 1부터 10까지 자연수를 각각 제곱해 더하면 다음과 같다 (제곱의 합).
12 + 22 + ... + 102 = 385

1부터 10을 먼저 더한 다음에 그 결과를 제곱하면 다음과 같습니다 (합의 제곱).
(1 + 2 + ... + 10)2 = 552 = 3025

따라서 1부터 10까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 3025 - 385 = 2640 이 된다.

입력으로 자연수 N을 받아, 1부터 N까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 얼마인가?

In [46]:
n=int(input("자연수 N을 입력하세요."))
sum = 0
square = 0

for i in range(1,n):
    sum += i
    square += i **2
sum = sum**2
print(sum-square)

10010