# 8장. 파이썬 스타일 코드 I

### 1. join(리스트를 문자열로 변환)

In [1]:
# 리스트의 각 요소를 빈칸 없이 붙이기
colors = ['red','blue', 'green', 'yellow']
color_text = ''
for color in colors:
    color_text += color
color_text

'redbluegreenyellow'

In [2]:
# 리스트의 각 요소 뒤 ', '를 사용해 붙이기
colors = ['red','blue', 'green', 'yellow']
color_text = ''
for color in colors:
    color_text += color + ', '
color_text

'red, blue, green, yellow, '

In [3]:
colors = ['red','blue', 'green', 'yellow']
color_text = ''
for index, color in enumerate(colors):
    color_text += color
    if index != len(colors) - 1:  # 요소가 같지 않으면 ', '붙이기 =  yellow 끝에 ', '이 안 붙음
        color_text += ', '
color_text

'red, blue, green, yellow'

In [4]:
', '.join(colors)

'red, blue, green, yellow'

In [5]:
', '.join(color for color in colors)

'red, blue, green, yellow'

split()함수 : 문자열의 값을 특정 값을 기준으로 분리하여 리스트 형태로 변환

join()함수 : 문자열로 구성된 리스트를 합쳐 하나의 문자열로 반환

### 2. List Comprehension

In [6]:
# 기존 방법
empty_list = []
for i in range(10):
    empty_list.append(i)
empty_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# 리스트 컴프리헨션
a1 = [i for i in range(10)]
a1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
[2*x*x - 3*x + 5 for x in range(10)]

[5, 4, 7, 14, 25, 40, 59, 82, 109, 140]

In [11]:
import math
[math.sqrt(x) for x in range(1,11)]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

- 조건을 부여할 수 있음 -> filtering

In [12]:
[i for i in range(10) if i % 2 ==0]

[0, 2, 4, 6, 8]

In [13]:
# 3항 연산자 활용
[i if i % 2 ==0 else 'odd' for i in range(10)]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

- 중첩 반복문

In [19]:
str1 = '123'
str2 = 'xyz'
[i + k for i in str1 for k in str2]

['1x', '1y', '1z', '2x', '2y', '2z', '3x', '3y', '3z']

In [21]:
[i + k for i in str1 \
            for k in str2]

['1x', '1y', '1z', '2x', '2y', '2z', '3x', '3y', '3z']

- 2차원 리스트 만들기

In [22]:
text = 'A quick brown fox jumps over the lazy dog.'
[[word]for word in text.split()]  # .split() : 단어별로

[['A'],
 ['quick'],
 ['brown'],
 ['fox'],
 ['jumps'],
 ['over'],
 ['the'],
 ['lazy'],
 ['dog.']]

In [23]:
[[w.upper(), w.lower(), len(w)] for w in text.split()]

[['A', 'a', 1],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG.', 'dog.', 4]]

### - 성능

In [24]:
def scalar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * vector)
    return result

In [32]:
literation = 1000
vector = list(range(literation))
scalar = 2

In [33]:
%%time
for _ in range(literation):
    scalar_vector_product(scalar, vector)

Wall time: 10.1 s

In [34]:
%%time
for _ in range(literation):
    [scalar * value for value in range(literation)]

Wall time: 71.8 ms

Q. 표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [45]:
n1 = int(input('첫 번째 정수를 입력해 주세요.(1~20, 두 번째 정수보다 작게)'))
n2 = int(input('두 번째 정수를 입력해 주세요.(10~30)'))

[2 ** i for i in range(n1, n2+1) \
        if i != n1 + 1 and i != n2-1]

[2, 8, 16, 32, 64, 128, 256, 1024]

### 3. Dictionary Comprehension

In [47]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
{key:value for key, value in x.items()}

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [53]:
# 딕셔너리 필터링 딕셔너리 필터링
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}
{key:value for key, value in x.items() if value != 30}  # 값이 30인 건 뻬고 출력

{'a': 10, 'b': 20, 'd': 40}

In [48]:
fruits = ['apple', 'banana', 'cherry']
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 cherry

In [49]:
{fruit:i*1000+1000 for i, fruit in enumerate(fruits)}

{'apple': 1000, 'banana': 2000, 'cherry': 3000}

In [51]:
import random
random.randint(1000,2000)

1331

In [52]:
{fruit:random.randint(10,20)*100 for fruit in fruits}

{'apple': 1500, 'banana': 1300, 'cherry': 1300}

### 4. 다양한 방식의 리스트 출력

- in enumerate() : 리스트 값에 인덱스를 붙여 출력

In [ ]:
for i, fruit in enumerate(fruits):
    print(i, fruit)

- zip() : 리스트 값을 병렬로 묶어 출력

In [55]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
list(zip(alist, blist))

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [56]:
{a:b for a,b in zip(alist,blist)}

{'a1': 'b1', 'a2': 'b2', 'a3': 'b3'}

In [57]:
list(enumerate(zip(alist,blist)))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]

In [59]:
for i, (a, b) in enumerate(zip(alist,blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3