## 여러개 입력 처리

In [2]:
a= "red green blue"
a.split()

['red', 'green', 'blue']

In [3]:
b="red,green,blue"
b.split(",")    # ,를 기준으로

['red', 'green', 'blue']

In [4]:
string=input("빛의 3원색을 빈칸으로 구분하여 입력하세요.")
string

'빨강 초록 파랑 '

In [5]:
r,g,b = string.split()
r,g,b

('빨강', '초록', '파랑')

In [6]:
numbers=["3.1", "2.4", "8.5"]
list(map(float, numbers))   # numbers를 float를 이용해 맵핑(map)

[3.1, 2.4, 8.5]

In [8]:
string="3.1 2.4 8.5"
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [9]:
string=input("실수 세개를 빈칸으로 구분하여 입력하세요.")
string

'3.1, 2.4, 8.5'

In [11]:
list(map(float, input("실수 세개 입력").split()))

[3.1, 2.4, 8.5]

In [12]:
x,y,z =[3.1, 2.4, 8.5]
x,y,z

(3.1, 2.4, 8.5)

In [14]:
x,y,z =list(map(float, input("실수 세개 입력").split()))
x,y,z

(3.1, 2.4, 8.5)

In [15]:
x,y,z =map(float, input("실수 세개 입력").split())   # list 안 써도 무방
x,y,z

(3.1, 2.4, 8.5)

### range -sequence 자료형

In [3]:
# 하나만 있으면 0부터 끝값+1
list(range(5))

[0, 1, 2, 3, 4]

In [4]:
# 1~10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# 1~10까지 홀수만
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [6]:
# 10~1까지 짝수만
list(range(10,1,-2))

[10, 8, 6, 4, 2]

### 두개의 정수를 입력받아서 첫번째 값에서 부터 두번째 값까지 출력 
단, 두번째 값이 첫번째 값보다 큼

In [19]:
a,b = map(int, input("두개의 정수를 입력하세요.").split())
a,b

(5, 10)

In [20]:
print(list(range(a, b+1)))

[5, 6, 7, 8, 9, 10]