 # 딕셔너리(Dictionaty)
 - 데이터의 유일한 구분자를 키라는 이름으로 검색할 수 있게 하고, 실제 데이터 값이라는 이름으로 쌍으로 저장하여 프로그래머가 데이터를 쉽게 찾을 수 있는 체계를 마련해 준다.

### - 딕셔너리 만들기(c)

In [1]:
lux = {'health':490, 'mana':334, 'melee':550, 'armor': 18.72}  # 기본
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [2]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)  # dict()함수에 키=값
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [3]:
lux2 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])  # 리스트에 튜플(키, 값)
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [4]:
key_list = ['health', 'mana', 'melee', 'armor']  # 리스트 값을 dict()함수에 넣기
val_list = [490, 334, 550, 18.72]
list(zip(key_list,val_list))

[('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)]

In [5]:
lux3 = dict(zip(key_list, val_list))
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

### - 딕셔너리 참조하기(R)

In [6]:
lux['health']

490

### - 딕셔너리 값 변경하기(U)

In [7]:
lux['health'] = 600
lux

{'health': 600, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [8]:
lux['mana'] = 100
lux

{'health': 600, 'mana': 100, 'melee': 550, 'armor': 18.72}

In [9]:
lux['mana_regen'] = 3.28  # 새로운 값 추가
lux

{'health': 600, 'mana': 100, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}

### - 딕셔너리 값 삭제하기(D)

In [10]:
lux.pop('mana_regen')
lux

{'health': 600, 'mana': 100, 'melee': 550, 'armor': 18.72}

In [11]:
del lux['armor']
lux

{'health': 600, 'mana': 100, 'melee': 550}

### - 딕셔너리의 키/밸류 값들을 가져오기

In [12]:
lux2.keys()

dict_keys(['health', 'mana', 'melee', 'armor'])

In [13]:
lux2.values()

dict_values([490, 334, 550, 18.72])

### - 딕셔너리 반복문

In [14]:
lux.items()

dict_items([('health', 600), ('mana', 100), ('melee', 550)])

In [19]:
for key, value in lux.items():
    print(key, value)

health 600
mana 100
melee 550

In [16]:
for key, value in lux.items():
    print(key, value, lux[key])

health 600 600
mana 100 100
melee 550 550

In [18]:
for key in lux.keys():
    print(key,lux[key])

health 600
mana 100
melee 550

In [ ]:
if lux
~~~pop(key)

### - 중첩 딕셔너리

In [21]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [22]:
terrestrial_planet['Earth']  # terrestrial_planet 안에 Earth라는 딕셔너리

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [25]:
terrestrial_planet['Earth']['orbital_period']  # 지구의 공전주기 값 가져오기

365.25641