# 7장. 자료 구조

### 1. 스택(Stack)

In [2]:
stack = [1,2,3]   # [] : 리스트
stack.append(4)  # .append : push 역할
stack

[1, 2, 3, 4]

In [3]:
stack.pop()

4

In [4]:
stack

[1, 2, 3]

In [6]:
# 입력한 문자열을 거꾸로 추출
word = input('단어를 입력해주세요.')
word_list = list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())
print(result)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

### 2. 큐(Queue)

In [8]:
queue = [1,2,3,4]
queue.pop(0)

1

In [9]:
queue

[2, 3, 4]

### 3. 튜플(Tuple)

In [10]:
t = (1, 2, 3)
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [11]:
t = 1, 2, 3  # 괄호가 없어도 써도 튜플로 인식
t

(1, 2, 3)

In [12]:
t.count(1)

1

In [13]:
t[0] = 4  # TypeError : 튜플은 할당되지 않음

TypeError: 'tuple' object does not support item assignment

In [14]:
# 시퀀스 자료형이므로 for 문에서 사용가능
for element in t:
    print(element)

1
2
3

### 4. 세트(Set)

In [15]:
s = set([1, 2, 3, 1, 2, 3])
s

{1, 2, 3}

In [16]:
s = set((1, 2, 3, 1, 2, 3))  # 리스트나 튜플 형태로 해줘야 함
s

{1, 2, 3}

In [17]:
# CRUD
s.add(4)
s

{1, 2, 3, 4}

In [18]:
s.add(1)  # 1은 중복되어 추가되지 않음
s

{1, 2, 3, 4}

In [20]:
s.update([1,3,5,7])  # 5, 7 추가
s

{1, 2, 3, 4, 5, 7}

In [21]:
s.remove(7)  # 7 삭제
s

{1, 2, 3, 4, 5}

In [22]:
s.discard(3)  # 3 삭제
s

{1, 2, 4, 5}

In [23]:
s.clear()  # 모든 원소 삭제
s

set()

In [24]:
s1 = set(range(1,6))
s2 = set(range(3,8))
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [25]:
# 합집합(union) : |
s1.union(s2)  # 결과는 어디에도 할당되지 않고, '출력만' 됨

{1, 2, 3, 4, 5, 6, 7}

In [30]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [26]:
# 교집합(intersection) : &
s1.intersection(s2)

{3, 4, 5}

In [31]:
s1 & s2

{3, 4, 5}

In [27]:
#차집합(difference) : -
s1.difference(s2)

{1, 2}

In [28]:
s1 - s2

{1, 2}

In [29]:
for i in s1:
    print(i)

1
2
3
4
5